.btn{
    font-size: 1.2em;
    font-weight: 300;
    padding: 0.6em;
    border: none;
    background-color: cadetblue;
    color: #FDF6F6;
    ;
}
.btn--red{
    background-color: #CC0000;
}
.btn--blue{
    background-color: rgba(125, 207, 207, 0.842);
    margin-right: 0.5rem;
}