.hero{
    width: 100%;
    border-bottom: 1px solid rgb(216, 211, 211);
    &__img{
        height: 320px;
        background-image: url("../img/image-banner.png");
        background-size: cover;
        background-position: center;
    }

    &__content{
        padding: 20px 0;
        justify-content: space-between;
        align-items: center;
        .profile{
            align-items: center;
            &__img{
                width: 5em;
                height: 5em;
                img{
                    align-self: center;
                    height: 100%;
                    border-radius: 50%;
                }
    
            }
            &__info{
                flex-direction: column;
                justify-content: center;
                margin-left: 2em;
                &__name{
                    font-size: 1.5em;
                    letter-spacing: 1px;
                }
                &__followers{
                    font-size: 1.2em;
                    font-weight: 300;
                }
            }
        }
    }
}